@{
    ViewBag.Title = "О программе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
      <style>
   p 
     {
       color: #555;
        text-indent: 40px; /* Отступ первой строки в пикселах */
     }
      </style>

    <p align="justify">
        Данная система является скелетом для построения последующих проектов компании <b>"Инновационный центр ИТ".</b>
        </p>

</article>