@model Web.Models.Unit.UnitInfoModel

<div class="row">
    <div class="col-lg-12">
        <h3>Движение</h3>
        <table id="MovementTable" class=" table table-bordered table-hover">
            <tr>
                <th style="width: 35%">
                    Справочник оборудования
                </th>
                <th style="width: 20%">
                    RFId  оборудования
                </th>
                <th style="width: 20%">
                    Прибыло/убыло
                </th>
                <th style="width: 25%">
                    Дата движения
                </th>
            </tr>

            @foreach (var item in Model.MovmentList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.kEquipmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentRFId)
                    </td>
                    <td>
                        @(item.IsArrived?"Прибыло":"Убыло")
                    </td>
                    <td>
                        @item.Date.ToString("g")
                    </td>
                </tr>
            }</table>
    </div>
</div>

