#Repository
/Publish/

#VS
[Oo]bj
[Bb]in
[Pp]ublish
[Bb]uild[Oo]utput
*.user
*.suo
*.bak
*.log 

#StyleCop
*.Cache

#Windows
[Tt]humbs.db 

#R#
_ReSharper.*
*.resharper
/*.psess
*.DotSettings