@model List<Web.Models.EquipmentModel>

<div class="row">
    <div class="col-lg-12">
        <table class=" table table-bordered table-hover">
            <tr>
                <th style="width: 30%">
                    Название справочника оборудования
                </th>
                <th style="width: 20%">
                    BLE оборудования
                </th>
                <th style="width: 50%">
                    Описание/Примечание
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.kEquipment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>