@model Web.Models.Division.FilterDivisionModel
@{
    ViewBag.Title = "Список подразделений";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/plugins/treegrid/jquery.treegrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/treegrid/jquery.treegrid.bootstrap3.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/css/jquery.treegrid.css">
    <script type="text/javascript">
        $('#tree').treegrid();
        $('#tree').treegrid('collapseAll');
    </script>
}

<div class="panel-body" id="users">
    @{Html.RenderAction("List", "Division", Model);}
</div>