@model List<Web.Models.Division.DivisionModel>

<div class="row">
    <div class="col-lg-12">
        <table id="tree" class="table table-bordered table-hover tree">
            <thead>
                <tr>
                    <th>Подразделение</th>
                    <th>Описание/Примечание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="treegrid-@item.Id treegrid-parent-@item.ParentId">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm pull-left" href="@Url.Action("List", "Division", new { id = item.Id })">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Показать
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
