@model Web.Models.LoginModel
@{
    Layout = "../Shared/_LoginPartial.cshtml";
}

<div id="login">
    <div class="login-wrapper" data-active="log">
        <div id="log">
            <div class="page-header">
                <h3 class="center">
                    Вход в систему
                </h3>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { role = "form", id = "login-form", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group relative">
                        <div class="icon">
                            <i class="icon20 i-user"></i>
                        </div>
                        @Html.TextBoxFor(m => m.UserLogin, new { @class = "form-control", placeholder = "Имя пользователя" })
                    </div>
                    <div class="form-group relative">
                        <div class="icon">
                            <i class="icon20 i-key"></i>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                    </div>

                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.IsLocalServer, new { id = "isLocalServer", @class = "checkbox-inline" })
                        <label for="isLocalServer"> Локальный сервер </label>
                        
                        <button id="loginBtn" type="submit" class="btn btn-primary pull-right col-lg-5">
                            Войти
                        </button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>