<nav id="mainnav">
    <ul class="nav nav-list">
        <li>
             <a href="@Url.Action("Index", "Unit")">
                 <span class="icon"><i class="icon20 i-archive"></i></span>
                 <span class="txt">Объекты</span>
             </a>
         </li>
        <li>
            <a href="@Url.Action("Index", "Equipment")">
                <span class="icon"><i class="icon20 i-archive"></i></span>
                <span class="txt">Оборудование</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Movement")">
                <span class="icon"><i class="icon20 i-archive"></i></span>
                <span class="txt">Движения по складу</span>
            </a>
        </li>
    </ul>
</nav>
