@model  List<Web.Models.EquipmentModel>

@{
    ViewBag.Title = "Формуляр ПТВ";
}

<div class="row">
    <div class="col-lg-12">
        <table class=" table table-bordered table-hover">
            <tr>
                <th style="width: 35%">
                    Оборудование
                </th>
                <th style="width: 40%">
                    BLE  оборудования
                </th>
                <th style="width: 25%">
                    Дата движения
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="@(item.LastMovement != null && item.LastMovement.IsArrived ? "success" : "")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag)
                    </td>
                    <td>
                        @item.Date
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
