<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReaderUtility.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ReaderUtility.Client.Settings>
            <setting name="ServiceOperationAddress" serializeAs="String">
                <value>net.tcp://localhost:8733/ServiceOperation</value>
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="ReaderHost" serializeAs="String">
                <value>192.168.1.40</value>
            </setting>
        </ReaderUtility.Client.Settings>
    </userSettings>
</configuration>
